<div id="like" class="graybg">
    <div class="header cheader text-center">
        <a ui-sref'tab.index.home' class="back"></a>我的收藏
    </div>
    <ion-content>
        <div class="like_title">
            <ul>
                <li class="like_p on" ng-click="toggle($event)">收藏商品</li>
                <li class="like_s" ng-click="toggle($event)">收藏店铺</li>
            </ul>
        </div> 
        <div class="like_main">
            <section >
                 <div>
                     没有符合条件的商品
                 </div>
            </section>
            <section >
                <div>没有符合条件的店铺</div>
            </section>
        </div>
   
    </ion-content>
</div>