<div id="login" class="graybg">
    <div class="header cheader text-left">
        <a href="#/tab/index/home" class="back"></a>用户登录
    </div>
    <ion-content>
        <div class="login_panel" ng-controller="LoginCtrl">
            <div class="login_logo">
                <img src="img/loginLogo.png" alt="login"/>
            </div>
            <form name="loginForm" ng-submit="signin()">
                <input type="text" name="username" ng-model="formData.username" placeholder="用户名" required/>
            <span class="tip" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                <span ng-show="loginForm.username.$error.required">用户名必须</span>
            </span>
                <input type="password" name="password" ng-model="formData.password" placeholder="密码" required/>
            <span class="tips" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                <span ng-show="loginForm.password.$error.required">密码必须</span>  
            </span>
                <input type="submit" value="登录" ng-disabled="loginForm.username.$dirty&&loginForm.username.$invalid ||
            loginForm.password.$dirty&&loginForm.password.$invalid"/>
            </form>
            <p><span class="forget">忘记密码</span>还不是会员?<span class="" ui-sref='^.register'>立即注册</span></p>
        </div>
    </ion-content>

</div>


