<div id="setting">
    <div class="header">
        <span class="user"></span>您好,欢迎<span class="username">mirroroksky</span>. <span class="sign_out" ng-click="signout()">退出</span>
    </div>
    <ion-content>
        <div class="order whitebg">
            <div class="title">
                <div class="col-xs-6 text-left"><a href="">我的订单</a></div>
                <div class="col-xs-6 text-right"><a href="">查看全部订单</a></div>
            </div>
            <div class="main">
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/order1.png" class="img-responsive center-block" alt="o1"/></li>
                            <li class="text-center">代付款</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/order2.png" class="img-responsive center-block" alt="o2"/></li>
                            <li class="text-center">代发货</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/order3.png" class="img-responsive center-block" alt="o3"/></li>
                            <li class="text-center">代收获</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/order4.png" class="img-responsive center-block" alt="o4"/></li>
                            <li class="text-center">代评价</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/order5.png" class="img-responsive center-block" alt="o5"/></li>
                            <li class="text-center">退款/售后</li>
                        </ul>
                    </a>
                </div>
            </div>

        </div>
        <div class="buyer whitebg">
            <div class="title">
                <div class="col-xs-6 text-left"><a href="">卖家中心</a></div>
                <div class="col-xs-6 text-right"><a href="">更多></a></div>
            </div>
            <div class="main">
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer1.png" class="img-responsive center-block" alt="b1"/></li>
                            <li class="text-center">收藏宝贝</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer2.png" class="img-responsive center-block" alt="b2"/></li>
                            <li class="text-center">收藏店铺</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer3.png" class="img-responsive center-block" alt="b3"/></li>
                            <li class="text-center">优惠卷</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer4.png" class="img-responsive center-block" alt="b4"/></li>
                            <li class="text-center">帮助中心</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer5.png" class="img-responsive center-block" alt="b5"/></li>
                            <li class="text-center">我的参团</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer6.png" class="img-responsive center-block" alt="b6"/></li>
                            <li class="text-center">会员卡</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer7.png" class="img-responsive center-block" alt="b7"/></li>
                            <li class="text-center">免费开店</li>
                        </ul>
                    </a>
                </div>
                <div>
                    <a href="">
                        <ul>
                            <li><img src="img/set/buyer8.png" class="img-responsive center-block" alt="b8"/></li>
                            <li class="text-center">收获地址</li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
        <div class="trade whitebg">
            <div class="title">
                <div class="col-xs-6 text-left"><a href="">交易宝中心</a></div>
                <div class="col-xs-6 text-right"><a href="">更多></a></div>
            </div>
            <div class="t_list">
                <a href="">
                    <span><img src="img/set/money.png" class="img-responsive" alt="money"/></span>
                    <div class="col-xs-6 text-left">资产总揽</div>
                    <div class="col-xs-6 text-right"> > </div>
                </a>
            </div>
            <div class="t_list">
                <a href="">
                    <span><img src="img/set/account.png" class="img-responsive" alt="account"/></span>
                    <div class="col-xs-6 text-left">账户配置</div>
                    <div class="col-xs-6 text-right"> > </div>
                </a>
            </div>
            <div class="t_list">
                <a href="">
                    <span><img src="img/set/income.png" class="img-responsive" alt="income"/></span>
                    <div class="col-xs-6 text-left">收支明细</div>
                    <div class="col-xs-6 text-right"> > </div>
                </a>
            </div>
            <div class="t_list">
                <a href="">
                    <span><img src="img/set/power.png" class="img-responsive" alt="power"/></span>
                    <div class="col-xs-6 text-left">特权管理</div>
                    <div class="col-xs-6 text-right"> > </div>
                </a>
            </div>

        </div>
    </ion-content>

</div>