<div id="contact">
    <div class="header cheader ">
        <a href="javascript:history.back(-1)" class="back"></a>留言
    </div>
    <ion-content>
    <div class="main">
        <p>尊敬的各位1号琴行网友：您好！欢迎光临1号琴行，如有疑问请此留言,我们会尽快解决并与您练习，给您带来的不便，请谅解！！若有急事请拨打18656087891,谢谢</p>

        <form action="">
            <input type="text" name="mesname" placeholder="请填写您的真实姓名(必填)">
            <input type="tel" name="mestel" placeholder="请填写固定电话或移动号码">
            <input type="email" name="mesemail" placeholder="请填写您的邮箱地址">
            <textarea name="mes" id="" rows="7" placeholder="请将您的问题详细写下，我们会尽快与您联系"></textarea>
            <input type="submit" value="提交">
        </form>
    </div>
    </ion-content>
</div>